# Apache Superset Settings
SUPERSET_SECRET_KEY=
SUPERSET_PORT=

# Account admin superset
SUPERSET_USERNAME=
SUPERSET_PASSWORD=

# Supabase Connection
SUPABASE_USER=
SUPABASE_PASSWORD=
SUPABASE_HOST=
SUPABASE_PORT=
SUPABASE_DBNAME=
